.grid-container{
    height:1000px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns:  100px 100px;
    border: solid 1px black;

    /* justify-content: center;
    align-content: center; */

    /* justify-items: end; */
    /* align-items: center; */
}

.grid-item{
    border: solid 1px black;
}

.one{
    grid-column: 1/span 2; 
}
/* 
.two{
    grid-row:2/span 2;
} */